/* font-family: 'Figtree', sans-serif; */

:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);
  --fw-normal: 600;
  --fw-bold: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}

html {
  font-family: "Figtree", sans-serif;
  font-weight: 600;

  background-color: var(--clr-yellow);
}

.wrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* border: 3px solid black; */
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid var(--clr-black);
  max-width: calc(min(350px, 90%));
  background-color: var(--clr-white);
  border-radius: 0.85rem;

  box-shadow: 0.4rem 0.4rem var(--clr-black);
}

.main-section > img {
  border-radius: 0.5rem;
}

.item-learning {
  padding-block: 1rem;
  display: grid;
  justify-content: start;
  gap: 1rem;
}

.item-learning > h2 {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  background-color: var(--clr-yellow);
  color: var(--clr-black);
  margin-right: auto;
}

.foundation {
  display: grid;
  gap: 1rem;
}
.foundation > h1 {
  font-size: 1.45rem;
}
.foundation > p {
  font-size: 0.9rem;
  color: var(--clr-grey);
}

.avatar {
  padding-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.avatar > img {
  width: 2rem;
}

@media screen and (max-width: 375px) {
  .wrapper {
    margin-inline: 1rem;
  }
}
